@model List<Category>

<body class="bg-secondary text-light">

@foreach (Category category in Model)
{
    <div>
        <ul>
            <li><a class="text-light" href="/categories/@category.CategoryId">@category.Name</a></li>
        </ul>
    </div>
}
</body>

