@model List<Product>

<body class="bg-secondary text-light">

@foreach (Product product in Model)
{
    <div>
        <ul>
            <li><a class="text-light" href="/products/@product.ProductId">@product.Name</a></li>
        </ul>
    </div>
}
</body>
